body {
    background-color: rgba(226, 205, 109, 0.664);
    border: solid 15px;
    margin: 0;
    border-color: rgba(124, 134, 26, 0.74);
}

.mainstyle, .title, .olist {
    font-family: Georgia, Helvetica, "Times New Roman", serif;
    color: white;
}

.title {
    background-color: rgba(125, 206, 58, 0.74);
    font-weight: bold;
    text-align: center;
    font-size: 42;
    padding: 20px;
    border: solid 10px;
    border-color:  rgba(29, 133, 60, 0.74);
    margin: 50px;
}


.mainstyle {
    background-color: rgba(46, 159, 211, 0.897);
    font-size: 24px;
    padding: 15px;
    border: solid 8px;
    border-color: rgba(46, 112, 211, 0.897);
    margin: 30px;
}

#cook {
    width: 300px;
    height: auto;
}

#burger {
    width: 500px;
    height: auto;
}

.olist {
    background-color: rgba(238, 76, 76, 0.74);
    font-size: 28px;
}

